# Ignore the sessions summary file
SESSIONS_SUMMARY.md
# PHP
vendor/

# Python
.venv/
__pycache__/
*.pyc

# Java
build/
*.dat

# Environment
*.env

# IDE
.vscode/
.idea/

#Documentation
*.aux
*.log
*.out
*.toc


#Personal files
HELIX_PoC_Roadmap*
HELIX_TODO*
